{
  "presets": [
    "@babel/react",
    "@babel/flow",
    ["@babel/env", { "targets": { "node": "current" } }],
    "@babel/stage-2"
  ],
  "plugins": [
    ["styled-components", { "ssr": true }],
    "react-hot-loader/babel",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ]
}
