{
  "presets": [
    "@babel/react",
    "@babel/flow",
    ["@babel/env", { "targets": { "browsers": "last 2 versions" } }],
    ["@babel/stage-2", { "decoratorsLegacy": true }]
  ],
  "plugins": [
    "id",
    "relay",
    "idx",
    ["styled-components", { "ssr": true }]
  ]
}
