{
  "presets": [
    "@babel/react",
    "@babel/flow",
    ["@babel/env", { "targets": { "browsers": "last 2 versions" } }]
  ],
  "plugins": [
    "@babel/transform-runtime",
    "@babel/proposal-class-properties",
    "id",
    "relay",
    "idx",
    ["styled-components", { "ssr": true }],
    "ramda",
    ["module-resolver", {
      "root": ["./src"]
    }]
  ],
  "env": {
    "modules": {
      "presets": [
        ["@babel/env", { "modules": false, "targets": { "browsers": "last 2 versions" } }]
      ]
    }
  }
}
