{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/flowtype",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "import/no-unresolved": "off", // Broken: https://github.com/tleunen/eslint-import-resolver-babel-module/issues/82
    "import/extensions": "off" // Broken: https://github.com/tleunen/eslint-import-resolver-babel-module/issues/82
  },
  "settings": {
    "import/resolver": {
      "babel-module": {}
    }
  }
}
