{
  "parser": "babel-eslint",
  "extends": [
    "airbnb",
    "prettier",
    "prettier/react",
    "prettier/flowtype",
    "plugin:flowtype/recommended"
  ],
  "plugins": [
    "prettier",
    "flowtype"
  ],
  "env": {
    "jest": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/default-props-match-prop-types": "off", // Flow/ESlint conflict
    "react/require-default-props": "off", // Somehow semantically wrong
    "jsx-a11y/anchor-is-valid": "off", // Relative paths bullshit
    "import/no-unresolved": "off", // Broken: https://github.com/tleunen/eslint-import-resolver-babel-module/issues/82
    "import/extensions": "off" // Broken: https://github.com/tleunen/eslint-import-resolver-babel-module/issues/82
  },
  "settings": {
//    "import/resolver": {
//      "babel-module": {}
//    }
  }
}
